<div class="bg-info text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the model
</div>

<!--One-Way Data Bindings-->EEEA
<!--De esta forma podemos pasar el nombre de la clase de forma dinamica,
que seria class="bg-warning"-->
<div [ngClass]="getClasses(1)" >
    Hello, World.
</div>

<div [ngClass]="'text-white m-2 p-2 ' + getClasses(1)" 
    [textContent]="'Name: ' + (model.getProduct(1)?.name || 'None')">
</div>

<!--De esta forma podemos obtener el valor del elemento de forma dinamica,
que seria value="Kayak"-->
<div class="form-group m-2">
    <label>Name:</label>
    <input class="form-control" [value]="model.getProduct(1)?.name || 'None'" />
</div>

<!--String Interpolation-->
<!--De esta forma podemos pasar valor desde la clase de typeScript {{}}-->
<div [ngClass]="'text-white m-2 p-2 ' + getClasses(1)">
    Name: {{ model.getProduct(1)?.name || 'None' }}
</div>

<!--Setting a Single Style Property-->
<div class="p-2 bg-warning">
    The <span [style.fontSize]="fontSizeWithUnits">first</span>
    product is {{model.getProduct(1).name}}.
</div>

<div class="p-2 bg-info">
    The <span [style.fontSize.px]="fontSizeWithoutUnits">second</span>
    product is {{model.getProduct(2).name}}
</div>

<!--Setting Style Using the ngStyle Directive-->
<div class="p-2 bg-warning">
    The <span [ngStyle]="getStyles(1)">first</span>
    product is {{model.getProduct(1).name}}.
</div>

<div class="p-2 bg-info">
    The <span [ngStyle]="getStyles(2)">second</span>
    product is {{model.getProduct(2).name}}
</div>

<div class="text-white m-2">
    <div class="bg-info p-2">
        There are {{getProductCount()}} products.
    </div>
</div>

<!--Using the ngIf Directive-->
<div *ngIf="getProductCount() > 4" class="bg-info p-2 mt-1">
    There are more than 4 products in the model
</div>

<div *ngIf="getProductByPosition(0).name != 'Kayak'" class="bg-info p-2 mt-1">
    The first product isn't a Kayak
</div>

<!--Using the ngSwitch Directive-->
<div class="bg-info p-2 mt-1" [ngSwitch]="getProductCount()">
    <span *ngSwitchCase="2">There are two products</span>
    <span *ngSwitchCase="5">There are five products</span>
    <span *ngSwitchDefault>This is the default</span>
</div>

<!--Using the ngFor Directive-->
<table class="table table-sm table-bordered mt-1 text-dark">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts()">
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>

<!--Using Other Template Variables-->
<!--
index 
This number value is assigned to the position of the current object.

odd 
This boolean value returns true if the current object has an odd-numbered position in the
data source.

even 
This boolean value returns true if the current object has an even-numbered position in the
data source.

first 
This boolean value returns true if the current object is the first one in the data source.

last 
This boolean value returns true if the current object is the last one in the data source.
-->


<!--index-->
<table class="table table-sm table-bordered mt-1 text-dark">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts(); let i = index">
        <td>{{i +1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>

<!--odd-->
<table class="table table-sm table-bordered mt-1">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts(); let i = index; let odd = odd"
            class="text-white" [class.bg-primary]="odd" [class.bg-info]="!odd">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>

<!--First and Last-->
<table class="table table-sm table-bordered mt-1">
    <tr class="text-dark">
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts(); let i = index; let odd = odd;
            let first = first; let last = last" class="text-white"
            [class.bg-primary]="odd" [class.bg-info]="!odd"
            [class.bg-warning]="first || last">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td *ngIf="!last">{{item.price}}</td>
    </tr>
</table>

<!--Using the ngTemplateOutlet Directive-->
<ng-template #titleTemplate>
    <h4 class="p-2 bg-success text-white">Repeated Content</h4>
</ng-template>

<ng-template [ngTemplateOutlet]="titleTemplate"></ng-template>

<div class="bg-info p-2 m-2 text-white">
    There are {{getProductCount()}} products.
</div>

<ng-template [ngTemplateOutlet]="titleTemplate"></ng-template>

<!--Providing Context Data-->
<ng-template #titleTemplate let-text="title">
    <h4 class="p-2 bg-success text-white">{{text}}</h4>
</ng-template>

<ng-template [ngTemplateOutlet]="titleTemplate"
    [ngTemplateOutletContext]="{title: 'Header'}">
</ng-template>

<div class="bg-info p-2 m-2 text-white">
    There are {{getProductCount()}} products.
</div>

<ng-template [ngTemplateOutlet]="titleTemplate"
    [ngTemplateOutletContext]="{title: 'Footer'}">
</ng-template>


<!--Using the Event Binding-->
<div class="m-2">
    <div class="bg-info text-white p-2">
        Selected Product: {{selectedProduct || '(None)'}}
    </div>
    <table class="table table-sm table-bordered">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of getProducts(); let i = index"
                [class.bg-info]="getSelected(item)">
            <td (mouseover)="selectedProduct=item.name">{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
    <div class="form-group">
        <label>Product Name</label>
        <input class="form-control" (input)="selectedProduct=$event.target.value"
            [value]="selectedProduct || ''" />
    </div>
    <!--Using the ngModel Directive-->
    <!--Bindings can be combined to create a two-way flow of data for a single element, allowing the HTML
        document to respond when the application model changes and also allowing the application to respond
        when the element emits an event.-->
    <div class="form-group">
        <label>Product Name</label>
        <input class="form-control" [(ngModel)]="selectedProduct" />
    </div>
</div>





